<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Attendance</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "img/boot.ico" %}" rel="icon" type="image/x-icon"/>
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.5.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <p class="navbar-brand">Automatic Attendance System</p>
        <img class="img-fluid rounded-circle mx-auto" style="margin-top:40px; width:200px;" src="{% static "/img/logo.png" %}"  />

      <nav class="nav-menu" style="margin-top:20px;">
        <ul>
          <li><a href="/add_teacher/"><i class="bx bx-user-plus"></i> <span>Add Teacher</span></a></li>
          <li class="active"><a href="/add_student/"><i class="bx bx-user"></i> <span>Add Student</span></a></li>
          <li><a href="/view_teacher/"><i class="bx bx-detail"></i> <span>View Teacher</span></a></li>
          <li><a href="/view_student/"><i class="bx bxs-user-detail"></i> <span>View Student</span></a></li>
          <li><a href="/view_attendance/"><i class="bx bx-show"></i> <span>View Attendence</span></a></li>
          <li><a href="/logout/"><i class="bx bx-log-out"></i> <span>Logout</span></a></li
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- Container -->
  <!-- page Content-->
  {% if user_already_exist == 1 %}
    <div class="alert alert-danger alert-dismissible col-md-8" style="margin-left:450px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <center>User Already Registered  </center>
    </div>

  {% endif %}
  {% if registered_successfully == 1 %}
    <div class="alert alert-success alert-dismissable col-md-8" style="margin-left:450px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <center>User Registered Successfully</center>
    </div>
  {% endif %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-4"></div>
        <div class="col-lg-11 col-xl-7">
            <section class="py-4 py-lg-5">
                <h1 class="display-4 mb-3 text-center" style="color: #f768a1;">Add Student</h1>
                <form action="/admin_add_student/" method="post">
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="name" placeholder="Enter Name ... " type="text" required>
                        </div>
                    </div>
                     <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="address" placeholder="Enter Address... " type="text" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Mobile Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="mobile" placeholder="Enter mobile number... " type="number" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">DOB</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="dob" placeholder="Enter Date of Birth... " type="date" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Gender</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="gender">
                                <option disabled="true" selected>--  Select Option  --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="email" placeholder="Enter Email... " type="email" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text dark ml-1">Class</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="class_div" placeholder="Enter Class..." type="text" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Class Teacher</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="class_teacher">
                                {% for i in result %}
                                <option>{{i}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Username</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="username" placeholder="Enter Username... " type="text" required>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label text-dark ml-1">Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="password" placeholder="Enter Password... " type="password" required>
                        </div>
                    </div>
                    <div class="row justify-content-md-center col-sm-9 mt-5" style="margin-left:20px;">
                        <button class="btn btn-md btn-outline-info" type="submit">Submit
                        </button>
                    </div>
                </form>

            </section>
        </div>
    </div>
</div>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Developed by <a class="develop">KULSUM</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "vendor/counterup/counterup.min.js" %}"></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "vendor/typed.js/typed.min.js" %}"></script>
  <script src="{% static "/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>